In [1]:
!pip install ipython-sql==0.4.1 SQLAlchemy==1.4.47 psycopg2-binary==2.9.9

Collecting ipython-sql==0.4.1
  Downloading ipython_sql-0.4.1-py3-none-any.whl.metadata (17 kB)
Collecting SQLAlchemy==1.4.47
  Downloading SQLAlchemy-1.4.47-cp311-cp311-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (10 kB)
Collecting psycopg2-binary==2.9.9
  Downloading psycopg2_binary-2.9.9-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (4.4 kB)
Collecting prettytable<1 (from ipython-sql==0.4.1)
  Downloading prettytable-0.7.2.zip (28 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: ipython>=1.0 in /usr/local/lib/python3.11/dist-packages (from ipython-sql==0.4.1) (7.34.0)
Requirement already satisfied: sqlparse in /usr/local/lib/python3.11/dist-packages (from ipython-sql==0.4.1) (0.5.3)
Requirement already satisfied: six in /usr/local/lib/python3.11/dist-packages (from ipython-sql==0.4.1) (1.17.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in /usr/local/lib/python3.11/dist-packages (from ipython-sql==0.4.1) (0.2.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.11/dist-packages (from SQLAlchemy==1.4.47) (3.2.2)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.11/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (75.2.0)
Collecting jedi>=0.16 (from ipython>=1.0->ipython-sql==0.4.1)
  Downloading jedi-0.19.2-py2.py3-none-any.whl.metadata (22 kB)
Requirement already satisfied: decorator in /usr/local/lib/python3.11/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (4.4.2)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.11/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.11/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (5.7.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /usr/local/lib/python3.11/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (3.0.51)
Requirement already satisfied: pygments in /usr/local/lib/python3.11/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (2.19.1)
Requirement already satisfied: backcall in /usr/local/lib/python3.11/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (0.2.0)
Requirement already satisfied: matplotlib-inline in /usr/local/lib/python3.11/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (0.1.7)
Requirement already satisfied: pexpect>4.3 in /usr/local/lib/python3.11/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (4.9.0)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in /usr/local/lib/python3.11/dist-packages (from jedi>=0.16->ipython>=1.0->ipython-sql==0.4.1) (0.8.4)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.11/dist-packages (from pexpect>4.3->ipython>=1.0->ipython-sql==0.4.1) (0.7.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.11/dist-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql==0.4.1) (0.2.13)
Downloading ipython_sql-0.4.1-py3-none-any.whl (21 kB)
Downloading SQLAlchemy-1.4.47-cp311-cp311-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.6 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.6/1.6 MB 19.4 MB/s eta 0:00:00
Downloading psycopg2_binary-2.9.9-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.0 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.0/3.0 MB 65.9 MB/s eta 0:00:00
Downloading jedi-0.19.2-py2.py3-none-any.whl (1.6 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.6/1.6 MB 51.4 MB/s eta 0:00:00
Building wheels for collected packages: prettytable
  Building wheel for prettytable (setup.py) ... done
  Created wheel for prettytable: filename=prettytable-0.7.2-py3-none-any.whl size=13695 sha256=9552d799a65d3089b8b0d8483fd381ce74821290aacb55c5029ccb23e7271795
  Stored in directory: /root/.cache/pip/wheels/b1/e4/65/051f9bd54c89d377db5ca942a672439c36cbf5ceff8e8902e0
Successfully built prettytable
Installing collected packages: prettytable, SQLAlchemy, psycopg2-binary, jedi, ipython-sql
  Attempting uninstall: prettytable
    Found existing installation: prettytable 3.16.0
    Uninstalling prettytable-3.16.0:
      Successfully uninstalled prettytable-3.16.0
  Attempting uninstall: SQLAlchemy
    Found existing installation: SQLAlchemy 2.0.40
    Uninstalling SQLAlchemy-2.0.40:
      Successfully uninstalled SQLAlchemy-2.0.40
  Attempting uninstall: ipython-sql
    Found existing installation: ipython-sql 0.5.0
    Uninstalling ipython-sql-0.5.0:
      Successfully uninstalled ipython-sql-0.5.0
Successfully installed SQLAlchemy-1.4.47 ipython-sql-0.4.1 jedi-0.19.2 prettytable-0.7.2 psycopg2-binary-2.9.9

In [2]:
%load_ext sql

In [3]:
%sql postgresql://user1:Dev12341234!@default-workgroup.885532410811.ap-northeast-2.redshift-serverless.amazonaws.com:5439/dev

In [ ]:
%%sql

CREATE TABLE hourly_day_avg_consumption (
    hour INT,
    day INT,
    avg_amt NUMERIC(18, 2)
);

 * postgresql://user1:***@default-workgroup.885532410811.ap-northeast-2.redshift-serverless.amazonaws.com:5439/dev
   postgresql://user1:***@default-workgroup.885532410811.us-west-2.redshift-serverless.amazonaws.com:5439/dev
Done.

[]

In [7]:
%%sql

SELECT *
FROM raw_data.card_transaction
LIMIT 10;

 * postgresql://user1:***@default-workgroup.885532410811.ap-northeast-2.redshift-serverless.amazonaws.com:5439/dev
10 rows affected.

[(datetime.date(2024, 3, 1), '음식', '중식', 8, 'M', 2, 5, 18476, 2),
 (datetime.date(2024, 3, 1), '음식', '중식', 8, 'M', 3, 5, 57398, 9),
 (datetime.date(2024, 3, 1), '음식', '중식', 8, 'M', 4, 5, 227927, 14),
 (datetime.date(2024, 3, 1), '음식', '중식', 8, 'M', 5, 5, 214404, 11),
 (datetime.date(2024, 3, 1), '음식', '중식', 8, 'M', 6, 5, 85764, 6),
 (datetime.date(2024, 3, 1), '음식', '중식', 8, 'M', 7, 5, 138298, 6),
 (datetime.date(2024, 3, 1), '음식', '중식', 9, 'F', 3, 5, 6058, 2),
 (datetime.date(2024, 3, 1), '음식', '중식', 9, 'F', 4, 5, 15145, 2),
 (datetime.date(2024, 3, 1), '음식', '중식', 9, 'F', 5, 5, 106486, 11),
 (datetime.date(2024, 3, 1), '음식', '중식', 9, 'F', 7, 5, 40891, 2)]

In [8]:
%%sql

SELECT tablename FROM pg_tables WHERE schemaname = 'analytics';

 * postgresql://user1:***@default-workgroup.885532410811.ap-northeast-2.redshift-serverless.amazonaws.com:5439/dev
7 rows affected.

[('high_efficiency_category',),
 ('hourly_day_avg_consumption',),
 ('gender_industry_spending_stats',),
 ('age_industry_spending_stats',),
 ('efficient_category_gender_analysis',),
 ('efficient_category_monthly_trend',),
 ('monthly_sales_by_industry',)]

In [ ]:
%%sql

CREATE TABLE analytics.hourly_day_avg_consumption (
    hour INT,
    day INT,
    avg_amt BIGINT
);

 * postgresql://user1:***@default-workgroup.885532410811.ap-northeast-2.redshift-serverless.amazonaws.com:5439/dev
Done.

[]

In [ ]:
%%sql

INSERT INTO analytics.hourly_day_avg_consumption (hour, day, avg_amt)
SELECT
    hour,
    day,
    AVG(amt)::BIGINT AS avg_amt
FROM raw_data.card_transaction
GROUP BY hour, day;

 * postgresql://user1:***@default-workgroup.885532410811.ap-northeast-2.redshift-serverless.amazonaws.com:5439/dev
70 rows affected.

[]

In [ ]:
%%sql

select * from analytics.hourly_day_avg_consumption limit 10;

 * postgresql://user1:***@default-workgroup.885532410811.ap-northeast-2.redshift-serverless.amazonaws.com:5439/dev
10 rows affected.

[(5, 4, 518542),
 (5, 5, 538723),
 (7, 3, 332931),
 (8, 2, 280621),
 (10, 3, 149002),
 (6, 3, 534494),
 (4, 5, 456594),
 (2, 6, 164852),
 (5, 1, 591633),
 (6, 2, 550543)]

In [ ]:
%%sql

SELECT *
FROM analytics.hourly_day_avg_consumption
WHERE hour = 3 AND day = 1;

 * postgresql://user1:***@default-workgroup.885532410811.ap-northeast-2.redshift-serverless.amazonaws.com:5439/dev
1 rows affected.

[(3, 1, 693141)]