In [ ]:
%load_ext sql

In [ ]:
!pip install ipython-sql==0.4.1
!pip install SQLAlchemy==1.4.49

Requirement already satisfied: ipython-sql==0.4.1 in /usr/local/lib/python3.11/dist-packages (0.4.1)
Requirement already satisfied: prettytable<1 in /usr/local/lib/python3.11/dist-packages (from ipython-sql==0.4.1) (0.7.2)
Requirement already satisfied: ipython>=1.0 in /usr/local/lib/python3.11/dist-packages (from ipython-sql==0.4.1) (7.34.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in /usr/local/lib/python3.11/dist-packages (from ipython-sql==0.4.1) (1.4.49)
Requirement already satisfied: sqlparse in /usr/local/lib/python3.11/dist-packages (from ipython-sql==0.4.1) (0.5.3)
Requirement already satisfied: six in /usr/local/lib/python3.11/dist-packages (from ipython-sql==0.4.1) (1.17.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in /usr/local/lib/python3.11/dist-packages (from ipython-sql==0.4.1) (0.2.0)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.11/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (75.2.0)
Requirement already satisfied: jedi>=0.16 in /usr/local/lib/python3.11/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (0.19.2)
Requirement already satisfied: decorator in /usr/local/lib/python3.11/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (4.4.2)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.11/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.11/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (5.7.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /usr/local/lib/python3.11/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (3.0.51)
Requirement already satisfied: pygments in /usr/local/lib/python3.11/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (2.19.1)
Requirement already satisfied: backcall in /usr/local/lib/python3.11/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (0.2.0)
Requirement already satisfied: matplotlib-inline in /usr/local/lib/python3.11/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (0.1.7)
Requirement already satisfied: pexpect>4.3 in /usr/local/lib/python3.11/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (4.9.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.11/dist-packages (from sqlalchemy>=0.6.7->ipython-sql==0.4.1) (3.2.2)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in /usr/local/lib/python3.11/dist-packages (from jedi>=0.16->ipython>=1.0->ipython-sql==0.4.1) (0.8.4)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.11/dist-packages (from pexpect>4.3->ipython>=1.0->ipython-sql==0.4.1) (0.7.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.11/dist-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql==0.4.1) (0.2.13)
Requirement already satisfied: SQLAlchemy==1.4.49 in /usr/local/lib/python3.11/dist-packages (1.4.49)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.11/dist-packages (from SQLAlchemy==1.4.49) (3.2.2)

In [ ]:
%sql postgresql://user1:Dev12341234!@default-workgroup.885532410811.ap-northeast-2.redshift-serverless.amazonaws.com:5439/dev

## RawData 생성 및 조회

In [ ]:
%%sql
CREATE TABLE raw_data.card_transaction (
    ta_ymd DATE,
    card_tpbuz_nm_1 VARCHAR(100),
    card_tpbuz_nm_2 VARCHAR(100),
    hour INT,
    sex VARCHAR(1),
    age INT,
    day INT,
    amt INT,
    cnt INT
);

In [ ]:
%%sql
COPY raw_data.card_transaction
FROM 's3://dev-project-2/card_consumption/card_data.csv'
IAM_ROLE 'arn:aws:iam::885532410811:role/redshifit.read.s3_maderyan'
FORMAT AS CSV IGNOREHEADER 1 DELIMITER ',' EMPTYASNULL BLANKSASNULL DATEFORMAT 'YYYYMMDD';

In [ ]:
%%sql
SELECT * FROM raw_data.card_transaction LIMIT 100

 * postgresql://user1:***@default-workgroup.885532410811.ap-northeast-2.redshift-serverless.amazonaws.com:5439/dev
100 rows affected.

[(datetime.date(2024, 3, 1), '음식', '양식', 5, 'F', 2, 5, 40559, 1),
 (datetime.date(2024, 3, 1), '음식', '양식', 5, 'F', 3, 5, 273797, 9),
 (datetime.date(2024, 3, 1), '음식', '양식', 5, 'F', 4, 5, 65728, 1),
 (datetime.date(2024, 3, 1), '음식', '양식', 5, 'F', 5, 5, 26408, 1),
 (datetime.date(2024, 3, 1), '음식', '양식', 5, 'F', 6, 5, 108974, 6),
 (datetime.date(2024, 3, 1), '음식', '양식', 5, 'F', 7, 5, 186033, 3),
 (datetime.date(2024, 3, 1), '음식', '양식', 5, 'M', 3, 5, 45481, 1),
 (datetime.date(2024, 3, 1), '음식', '양식', 5, 'M', 4, 5, 187793, 12),
 (datetime.date(2024, 3, 1), '음식', '양식', 5, 'M', 5, 5, 263599, 3),
 (datetime.date(2024, 3, 1), '음식', '양식', 5, 'M', 6, 5, 136884, 3),
 (datetime.date(2024, 3, 1), '음식', '양식', 5, 'M', 7, 5, 29343, 1),
 (datetime.date(2024, 3, 1), '음식', '양식', 5, 'M', 8, 5, 14671, 1),
 (datetime.date(2024, 3, 1), '음식', '양식', 6, 'F', 3, 5, 203932, 3),
 (datetime.date(2024, 3, 1), '음식', '양식', 6, 'F', 4, 5, 137852, 3),
 (datetime.date(2024, 3, 1), '음식', '양식', 6, 'F', 5, 5, 194237, 6),
 (datetime.date(2024, 3, 1), '음식', '양식', 6, 'F', 6, 5, 60006, 1),
 (datetime.date(2024, 3, 1), '음식', '양식', 6, 'M', 3, 5, 193662, 3),
 (datetime.date(2024, 3, 1), '음식', '양식', 6, 'M', 5, 5, 428382, 9),
 (datetime.date(2024, 3, 1), '음식', '양식', 6, 'M', 6, 5, 15845, 1),
 (datetime.date(2024, 3, 1), '음식', '양식', 7, 'F', 3, 5, 73474, 1),
 (datetime.date(2024, 3, 1), '음식', '양식', 7, 'F', 5, 5, 126320, 4),
 (datetime.date(2024, 3, 1), '음식', '양식', 7, 'F', 6, 5, 16461, 1),
 (datetime.date(2024, 3, 1), '음식', '양식', 7, 'M', 2, 5, 57991, 1),
 (datetime.date(2024, 3, 1), '음식', '양식', 7, 'M', 3, 5, 33465, 1),
 (datetime.date(2024, 3, 1), '음식', '양식', 7, 'M', 5, 5, 121596, 3),
 (datetime.date(2024, 3, 1), '음식', '양식', 7, 'M', 6, 5, 14671, 1),
 (datetime.date(2024, 3, 1), '음식', '양식', 8, 'F', 2, 5, 42400, 3),
 (datetime.date(2024, 3, 1), '음식', '양식', 8, 'F', 4, 5, 44014, 1),
 (datetime.date(2024, 3, 1), '음식', '양식', 8, 'F', 5, 5, 70863, 1),
 (datetime.date(2024, 3, 1), '음식', '양식', 8, 'F', 6, 5, 32277, 1),
 (datetime.date(2024, 3, 1), '음식', '양식', 8, 'M', 2, 5, 14525, 1),
 (datetime.date(2024, 3, 1), '음식', '양식', 8, 'M', 3, 5, 201878, 6),
 (datetime.date(2024, 3, 1), '음식', '양식', 8, 'M', 4, 5, 29196, 1),
 (datetime.date(2024, 3, 1), '음식', '양식', 8, 'M', 5, 5, 57805, 4),
 (datetime.date(2024, 3, 1), '음식', '양식', 8, 'M', 6, 5, 98592, 1),
 (datetime.date(2024, 3, 1), '음식', '양식', 8, 'M', 7, 5, 199573, 3),
 (datetime.date(2024, 3, 1), '음식', '유흥주점', 1, 'F', 3, 5, 381622, 5),
 (datetime.date(2024, 3, 1), '음식', '유흥주점', 1, 'F', 4, 5, 131545, 3),
 (datetime.date(2024, 3, 1), '음식', '유흥주점', 1, 'F', 5, 5, 378215, 3),
 (datetime.date(2024, 3, 1), '음식', '유흥주점', 1, 'F', 6, 5, 128030, 3),
 (datetime.date(2024, 3, 1), '음식', '유흥주점', 1, 'M', 3, 5, 719241, 9),
 (datetime.date(2024, 3, 1), '음식', '유흥주점', 1, 'M', 4, 5, 1382948, 11),
 (datetime.date(2024, 3, 1), '음식', '유흥주점', 1, 'M', 5, 5, 2049152, 12),
 (datetime.date(2024, 3, 1), '음식', '유흥주점', 1, 'M', 6, 5, 1840271, 8),
 (datetime.date(2024, 3, 1), '음식', '유흥주점', 1, 'M', 7, 5, 144928, 2),
 (datetime.date(2024, 3, 1), '음식', '유흥주점', 3, 'M', 4, 5, 111995, 2),
 (datetime.date(2024, 3, 1), '음식', '유흥주점', 5, 'F', 5, 5, 94049, 2),
 (datetime.date(2024, 3, 1), '음식', '유흥주점', 7, 'M', 5, 5, 38545, 2),
 (datetime.date(2024, 3, 1), '음식', '유흥주점', 8, 'F', 3, 5, 38545, 2),
 (datetime.date(2024, 3, 1), '음식', '유흥주점', 8, 'F', 4, 5, 40472, 2),
 (datetime.date(2024, 3, 1), '음식', '유흥주점', 8, 'M', 4, 5, 628340, 8),
 (datetime.date(2024, 3, 1), '음식', '유흥주점', 8, 'M', 6, 5, 8696, 3),
 (datetime.date(2024, 3, 1), '음식', '유흥주점', 9, 'F', 3, 5, 254240, 3),
 (datetime.date(2024, 3, 1), '음식', '유흥주점', 9, 'F', 4, 5, 524669, 5),
 (datetime.date(2024, 3, 1), '음식', '유흥주점', 9, 'F', 5, 5, 55011, 3),
 (datetime.date(2024, 3, 1), '음식', '유흥주점', 9, 'F', 6, 5, 61671, 2),
 (datetime.date(2024, 3, 1), '음식', '유흥주점', 9, 'M', 3, 5, 151095, 3),
 (datetime.date(2024, 3, 1), '음식', '유흥주점', 9, 'M', 4, 5, 255936, 3),
 (datetime.date(2024, 3, 1), '음식', '유흥주점', 9, 'M', 5, 5, 142738, 3),
 (datetime.date(2024, 3, 1), '음식', '유흥주점', 9, 'M', 6, 5, 1897673, 9),
 (datetime.date(2024, 3, 1), '음식', '유흥주점', 9, 'M', 7, 5, 112242, 2),
 (datetime.date(2024, 3, 1), '음식', '유흥주점', 10, 'F', 3, 5, 38545, 2),
 (datetime.date(2024, 3, 1), '음식', '유흥주점', 10, 'F', 5, 5, 42430, 2),
 (datetime.date(2024, 3, 1), '음식', '유흥주점', 10, 'F', 6, 5, 46253, 2),
 (datetime.date(2024, 3, 1), '음식', '유흥주점', 10, 'M', 3, 5, 301819, 6),
 (datetime.date(2024, 3, 1), '음식', '유흥주점', 10, 'M', 4, 5, 316892, 3),
 (datetime.date(2024, 3, 1), '음식', '유흥주점', 10, 'M', 5, 5, 177120, 6),
 (datetime.date(2024, 3, 1), '음식', '유흥주점', 10, 'M', 7, 5, 370028, 2),
 (datetime.date(2024, 3, 1), '음식', '일식/수산물', 1, 'F', 3, 5, 37951, 8),
 (datetime.date(2024, 3, 1), '음식', '일식/수산물', 1, 'M', 3, 5, 155606, 5),
 (datetime.date(2024, 3, 1), '음식', '일식/수산물', 1, 'M', 4, 5, 125706, 5),
 (datetime.date(2024, 3, 1), '음식', '일식/수산물', 1, 'M', 5, 5, 44241, 2),
 (datetime.date(2024, 3, 1), '음식', '일식/수산물', 1, 'M', 6, 5, 133364, 2),
 (datetime.date(2024, 3, 1), '음식', '일식/수산물', 4, 'F', 2, 5, 15256, 2),
 (datetime.date(2024, 3, 1), '음식', '일식/수산물', 4, 'F', 3, 5, 62548, 2),
 (datetime.date(2024, 3, 1), '음식', '일식/수산물', 4, 'F', 4, 5, 30511, 2),
 (datetime.date(2024, 3, 1), '음식', '일식/수산물', 4, 'F', 5, 5, 212815, 5),
 (datetime.date(2024, 3, 1), '음식', '일식/수산물', 4, 'F', 6, 5, 56445, 3),
 (datetime.date(2024, 3, 1), '음식', '일식/수산물', 4, 'F', 7, 5, 93059, 3),
 (datetime.date(2024, 3, 1), '음식', '일식/수산물', 4, 'F', 8, 5, 94584, 3),
 (datetime.date(2024, 3, 1), '음식', '일식/수산물', 4, 'M', 3, 5, 70175, 2),
 (datetime.date(2024, 3, 1), '음식', '일식/수산물', 4, 'M', 4, 5, 222731, 6),
 (datetime.date(2024, 3, 1), '음식', '일식/수산물', 4, 'M', 5, 5, 99727, 5),
 (datetime.date(2024, 3, 1), '음식', '일식/수산물', 4, 'M', 6, 5, 200031, 9),
 (datetime.date(2024, 3, 1), '음식', '일식/수산물', 4, 'M', 7, 5, 121011, 5),
 (datetime.date(2024, 3, 1), '음식', '일식/수산물', 4, 'M', 9, 5, 29291, 2),
 (datetime.date(2024, 3, 1), '음식', '일식/수산물', 5, 'F', 2, 5, 7628, 2),
 (datetime.date(2024, 3, 1), '음식', '일식/수산물', 5, 'F', 3, 5, 92258, 5),
 (datetime.date(2024, 3, 1), '음식', '일식/수산물', 5, 'F', 4, 5, 342665, 5),
 (datetime.date(2024, 3, 1), '음식', '일식/수산물', 5, 'F', 5, 5, 446865, 5),
 (datetime.date(2024, 3, 1), '음식', '일식/수산물', 5, 'F', 6, 5, 103738, 3),
 (datetime.date(2024, 3, 1), '음식', '일식/수산물', 5, 'F', 7, 5, 56235, 3),
 (datetime.date(2024, 3, 1), '음식', '일식/수산물', 5, 'M', 3, 5, 142944, 6),
 (datetime.date(2024, 3, 1), '음식', '일식/수산물', 5, 'M', 4, 5, 132639, 6),
 (datetime.date(2024, 3, 1), '음식', '일식/수산물', 5, 'M', 5, 5, 149047, 6),
 (datetime.date(2024, 3, 1), '음식', '일식/수산물', 5, 'M', 6, 5, 1286316, 18),
 (datetime.date(2024, 3, 1), '음식', '일식/수산물', 5, 'M', 7, 5, 768038, 15),
 (datetime.date(2024, 3, 1), '음식', '일식/수산물', 5, 'M', 8, 5, 203623, 5),
 (datetime.date(2024, 3, 1), '음식', '일식/수산물', 5, 'M', 10, 5, 422578, 2),
 (datetime.date(2024, 3, 1), '음식', '일식/수산물', 6, 'F', 2, 5, 7628, 2)]

## 가공 테이블 생성

## **최근 1년간 남녀별 업종 소비량** [2025.02 ~ 2024.03]

In [ ]:
%%sql

CREATE TABLE analytics.gender_industry_spending_stats AS
SELECT
    sex,
    card_tpbuz_nm_1,
    card_tpbuz_nm_2,
    SUM(amt) AS total_amt,
    SUM(cnt) AS total_cnt,
    ROUND(SUM(amt)::FLOAT / NULLIF(SUM(cnt), 0), 2) AS avg_amt_per_txn
FROM
    raw_data.card_transaction
GROUP BY
    sex, card_tpbuz_nm_1, card_tpbuz_nm_2;

 * postgresql://user1:***@default-workgroup.885532410811.ap-northeast-2.redshift-serverless.amazonaws.com:5439/dev
(psycopg2.errors.DuplicateTable) relation "gender_industry_spending_stats" already exists

[SQL: CREATE TABLE analytics.gender_industry_spending_stats AS
SELECT
    sex,
    card_tpbuz_nm_1,
    card_tpbuz_nm_2,
    SUM(amt) AS total_amt,
    SUM(cnt) AS total_cnt,
    ROUND(SUM(amt)::FLOAT / NULLIF(SUM(cnt), 0), 2) AS avg_amt_per_txn
FROM
    raw_data.card_transaction
GROUP BY
    sex, card_tpbuz_nm_1, card_tpbuz_nm_2;]
(Background on this error at: https://sqlalche.me/e/14/f405)