In [37]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [38]:
!pip install ipython-sql==0.4.1
!pip install SQLAlchemy==1.4.49

Requirement already satisfied: ipython-sql==0.4.1 in /usr/local/lib/python3.11/dist-packages (0.4.1)
Requirement already satisfied: prettytable<1 in /usr/local/lib/python3.11/dist-packages (from ipython-sql==0.4.1) (0.7.2)
Requirement already satisfied: ipython>=1.0 in /usr/local/lib/python3.11/dist-packages (from ipython-sql==0.4.1) (7.34.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in /usr/local/lib/python3.11/dist-packages (from ipython-sql==0.4.1) (1.4.49)
Requirement already satisfied: sqlparse in /usr/local/lib/python3.11/dist-packages (from ipython-sql==0.4.1) (0.5.3)
Requirement already satisfied: six in /usr/local/lib/python3.11/dist-packages (from ipython-sql==0.4.1) (1.17.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in /usr/local/lib/python3.11/dist-packages (from ipython-sql==0.4.1) (0.2.0)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.11/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (75.2.0)
Requirement already satisfied: jedi>=0.16 in /usr/local/lib/python3.11/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (0.19.2)
Requirement already satisfied: decorator in /usr/local/lib/python3.11/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (4.4.2)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.11/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.11/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (5.7.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /usr/local/lib/python3.11/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (3.0.51)
Requirement already satisfied: pygments in /usr/local/lib/python3.11/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (2.19.1)
Requirement already satisfied: backcall in /usr/local/lib/python3.11/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (0.2.0)
Requirement already satisfied: matplotlib-inline in /usr/local/lib/python3.11/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (0.1.7)
Requirement already satisfied: pexpect>4.3 in /usr/local/lib/python3.11/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (4.9.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.11/dist-packages (from sqlalchemy>=0.6.7->ipython-sql==0.4.1) (3.2.2)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in /usr/local/lib/python3.11/dist-packages (from jedi>=0.16->ipython>=1.0->ipython-sql==0.4.1) (0.8.4)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.11/dist-packages (from pexpect>4.3->ipython>=1.0->ipython-sql==0.4.1) (0.7.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.11/dist-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql==0.4.1) (0.2.13)
Requirement already satisfied: SQLAlchemy==1.4.49 in /usr/local/lib/python3.11/dist-packages (1.4.49)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.11/dist-packages (from SQLAlchemy==1.4.49) (3.2.2)

In [ ]:
%sql postgresql://user1@Dev1234123!@default-workgroup.885532410811.ap-northeast-2.redshift-serverless.amazonaws.com:5439/dev

In [59]:
%%sql

SELECT tablename
FROM pg_catalog.pg_tables
WHERE schemaname = 'raw_data';

   postgresql://awsuser:***@default-workgroup.885532410811.ap-northeast-2.redshift-serverless.amazonaws.com:5439/dev
   postgresql://ryan:***@default-workgroup.885532410811.us-west-2.redshift-serverless.amazonaws.com:5439/dev
 * postgresql://user1:***@default-workgroup.885532410811.ap-northeast-2.redshift-serverless.amazonaws.com:5439/dev
   postgresql://user1:***@default-workgroup.885532410811.us-west-2.redshift-serverless.amazonaws.com:5439/dev
1 rows affected.

[('card_transaction',)]

In [60]:
%%sql

SELECT tablename
FROM pg_catalog.pg_tables
WHERE schemaname = 'analytics';

   postgresql://awsuser:***@default-workgroup.885532410811.ap-northeast-2.redshift-serverless.amazonaws.com:5439/dev
   postgresql://ryan:***@default-workgroup.885532410811.us-west-2.redshift-serverless.amazonaws.com:5439/dev
 * postgresql://user1:***@default-workgroup.885532410811.ap-northeast-2.redshift-serverless.amazonaws.com:5439/dev
   postgresql://user1:***@default-workgroup.885532410811.us-west-2.redshift-serverless.amazonaws.com:5439/dev
5 rows affected.

[('high_efficiency_category',),
 ('efficiency_vs_volume',),
 ('hourly_day_avg_consumption',),
 ('gender_industry_spending_stats',),
 ('monthly_avg_sales_by_industry',)]

In [49]:
%%sql
CREATE TABLE raw_data.card_transaction (
    ta_ymd DATE,
    card_tpbuz_nm_1 VARCHAR(100),
    card_tpbuz_nm_2 VARCHAR(100),
    hour INT,
    sex VARCHAR(1),
    age INT,
    day INT,
    amt INT,
    cnt INT
);

   postgresql://awsuser:***@default-workgroup.885532410811.ap-northeast-2.redshift-serverless.amazonaws.com:5439/dev
   postgresql://ryan:***@default-workgroup.885532410811.us-west-2.redshift-serverless.amazonaws.com:5439/dev
 * postgresql://user1:***@default-workgroup.885532410811.ap-northeast-2.redshift-serverless.amazonaws.com:5439/dev
   postgresql://user1:***@default-workgroup.885532410811.us-west-2.redshift-serverless.amazonaws.com:5439/dev
Done.

[]

In [52]:
%%sql
COPY raw_data.card_transaction
FROM 's3://dev-project-2/card_consumption/card_data.csv'
IAM_ROLE 'arn:aws:iam::885532410811:role/redshifit.read.s3_maderyan'
FORMAT AS CSV
IGNOREHEADER 1
DELIMITER ','
EMPTYASNULL
BLANKSASNULL
DATEFORMAT 'YYYYMMDD';

   postgresql://awsuser:***@default-workgroup.885532410811.ap-northeast-2.redshift-serverless.amazonaws.com:5439/dev
   postgresql://ryan:***@default-workgroup.885532410811.us-west-2.redshift-serverless.amazonaws.com:5439/dev
 * postgresql://user1:***@default-workgroup.885532410811.ap-northeast-2.redshift-serverless.amazonaws.com:5439/dev
   postgresql://user1:***@default-workgroup.885532410811.us-west-2.redshift-serverless.amazonaws.com:5439/dev
Done.

[]

In [ ]:
%%sql
select * from raw_data.card_transaction;

   postgresql://awsuser:***@default-workgroup.885532410811.ap-northeast-2.redshift-serverless.amazonaws.com:5439/dev
   postgresql://ryan:***@default-workgroup.885532410811.us-west-2.redshift-serverless.amazonaws.com:5439/dev
 * postgresql://user1:***@default-workgroup.885532410811.ap-northeast-2.redshift-serverless.amazonaws.com:5439/dev
   postgresql://user1:***@default-workgroup.885532410811.us-west-2.redshift-serverless.amazonaws.com:5439/dev

In [55]:
%%sql

select * from raw_data.card_transaction
limit 10;

   postgresql://awsuser:***@default-workgroup.885532410811.ap-northeast-2.redshift-serverless.amazonaws.com:5439/dev
   postgresql://ryan:***@default-workgroup.885532410811.us-west-2.redshift-serverless.amazonaws.com:5439/dev
 * postgresql://user1:***@default-workgroup.885532410811.ap-northeast-2.redshift-serverless.amazonaws.com:5439/dev
   postgresql://user1:***@default-workgroup.885532410811.us-west-2.redshift-serverless.amazonaws.com:5439/dev
10 rows affected.

[(datetime.date(2025, 1, 1), '소매/유통', '음/식료품소매', 10, 'F', 3, 3, 42822, 2),
 (datetime.date(2025, 1, 1), '소매/유통', '음/식료품소매', 10, 'M', 3, 3, 135928, 2),
 (datetime.date(2025, 1, 1), '소매/유통', '의복/의류', 1, 'F', 2, 3, 102673, 8),
 (datetime.date(2025, 1, 1), '소매/유통', '의복/의류', 1, 'F', 3, 3, 163906, 71),
 (datetime.date(2025, 1, 1), '소매/유통', '의복/의류', 1, 'F', 4, 3, 5769, 2),
 (datetime.date(2025, 1, 1), '소매/유통', '의복/의류', 1, 'F', 5, 3, 2077, 2),
 (datetime.date(2025, 1, 1), '소매/유통', '의복/의류', 1, 'F', 6, 3, 1923, 2),
 (datetime.date(2025, 1, 1), '소매/유통', '의복/의류', 1, 'M', 3, 3, 777235, 67),
 (datetime.date(2025, 1, 1), '소매/유통', '의복/의류', 1, 'M', 4, 3, 1762500, 17),
 (datetime.date(2025, 1, 1), '소매/유통', '의복/의류', 1, 'M', 5, 3, 57692, 2)]